<header class="w-100 flex justify-content-center shadow-sm">
  <div class="w-default flex justify-content-space-between">
     <img
      src="https://i.ibb.co/GcGDRnR/Logo3.png"
      alt="Name Logo"
      height="40"
    />
    <ul>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'home' ? 'active' : ''"
        (click)="scrollFunc('home')"
      >
        Home
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'about' ? 'active' : ''"
        (click)="scrollFunc('about')"
      >
        Cheif Guest
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'skills' ? 'active' : ''"
        (click)="scrollFunc('skills')"
      >
        Skills
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'qualifications' ? 'active' : ''"
        (click)="scrollFunc('qualifications')"
      >
        Events
      </li>
      <li
        class="py-1 px-3"
        [ngClass]="active === 'contactme' ? 'active' : ''"
        (click)="scrollFunc('contactme')"
      >
        Register Now
      </li>
    </ul>
  </div>
</header>
