<div class="about-me mt-9" id="about">
  <p class="title">Cheif Guests</p>
  <p class="sub-title">H.H Lokanath Swami Maharaj</p>
  <div class="main-content">
    <section>
      <img src="assets/images/Experience.png" alt="My Image" />
    </section>
    <section class="second">
      <p class="para">
        Lokanath Swami has contributed significantly to youth preaching in ISKCON by establishing the
        Bhaktivedanta Academy for Spiritual Sciences (BASS) in Noida, which aims to impart the 
        teachings of Srila Prabhupada and preserve Vedic culture and wisdom. He also took over
        the World Holy Name Project in 2006, which increases events and activities for spreading 
        the holy name of Lord Krishna. His inspiring lectures and kirtanas have impacted and motivated 
        countless young people to devote themselves to Bhakti-yoga.
      </p>
      <ul>
        <li>
          <h1>+100,000</h1>
          <p>Initiated Disciples Worldwide</p>
        </li>
        <li>
          <h1>+50</h1>
          <p>ISKCON Temples established Worldwide</p>
        </li>
        <li>
          <h1>+10</h1>
          <p>Books Authored</p>
        </li>
      </ul>
      <!-- <div style="margin-top: 40px;">
        <a
        href="https://drive.google.com/file/d/1T8iwklLKBMUhjM_qMUu48UgyHOfBn_KR/view?usp=share_link"
        class="btn"
        style="text-decoration: none;"
        target="_blank"
        >Download CV <fa-icon [icon]="downloadCV"></fa-icon
      ></a>
      </div> -->
    </section>
  </div>
</div>
