<div class="qualifications" id="qualifications">
  <p class="title">Events</p>
  <p class="sub-title">Event Schedule in UMANG</p>
  <div>
    <section>
      <h4>Kirtan</h4>
      <p class="my-0" style="color: #F72585;">Quiz starts at counter</p>
      <!-- <p class="my-0">4:00 - 4:30</p> -->
      <p class="year">4:00 - 4:30</p>
    </section>

    <section>
      <h4>Welcome Address and Lamp Lighting</h4>
      <!-- <p class="my-0">4:30 - 5:00</p> -->
      <p class="year">4:30 - 5:00</p>
    </section>

    <section>
      <h4>Dance</h4>
      <!-- <p class="my-0">5:00 - 5:15</p> -->
      <p class="year">5:00 - 5:15</p>
    </section>

    <section>
      <h4>Enlightening Talk by H.H Lokanath Swami Maharaj</h4>
      <!-- <p class="my-0">5:15 - 6:15</p> -->
      <p class="year">5:15 - 6:15</p>
    </section>
    
    <section>
      <h4>Quiz Prize Distribution</h4>
      <!-- <p class="my-0">6:15 - 6:30</p> -->
      <p class="year">6:15 - 6:30</p>
    </section>

    <section>
      <h4>Drama</h4>
      <!-- <p class="my-0">5:15 - 6:15</p> -->
      <p class="year">5:15 - 6:15</p>
    </section>

    <section>
      <h4>Exclusive Rock Kirtan</h4>
      <!-- <p class="my-0">5:15 - 6:15</p> -->
      <p class="year">6:15 - 7:15</p>
    </section>

    <section>
      <h4>Prasadam Starts</h4>
      <!-- <p class="my-0">5:15 - 6:15</p> -->
      <p class="year">7:15</p>
    </section>
  </div>
</div>
<!-- error? -->
